
<div class="gameHeader">
  <mat-card class="gameHeaderLeft">
    <mat-card-header>
      <mat-card-title>{{(this.game | async)?.name}}</mat-card-title>
      <mat-card-subtitle>
        <mat-icon>star</mat-icon> {{(this.game | async)?.reviewScore}}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="(this.game | async)?.imgUrl" alt="Game banner poster">
    <mat-card-actions>
      <button mat-stroked-button (click)="addToFinishedOnClick()">ADD TO FINISHED</button>
      <button mat-stroked-button (click)="addToPlayingOnClick()">ADD TO PLAYING</button>
      <button mat-stroked-button (click)="addToBacklogOnClick()">ADD TO BACKLOG</button>
      <button mat-stroked-button (click)="reviewOnClick()">REVIEW</button>
    </mat-card-actions>
  </mat-card>
  <div class="gameHeaderRight">
    <span>{{(this.game | async)?.description}}</span>
    <div>
      // Other statistics
    </div>
  </div>
</div>

<mat-grid-list cols="1" rowHeight="15:1" gutterSize="5px" class="profileFeed">
  <mat-grid-tile *ngFor="let review of reviews">
      <mat-card>
          <mat-card-content>
              <img src="assets/profile-default.png" class="postProfilePicture">
              <span class="postDescription">Username: {{review}}</span>
          </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>
