
<div class="gameHeader">
  <mat-card class="gameHeaderLeft">
    <mat-card-header>
      <div class="header-title">
        <mat-card-title>{{(this.game | async)?.name}}</mat-card-title>
      </div>
      <div class="header-subtitle">
        <mat-card-subtitle>
          <mat-icon color="warn">star</mat-icon> {{(this.game | async)?.reviewScore}}
        </mat-card-subtitle>
      </div>
    </mat-card-header>
    <img mat-card-image [src]="(this.game | async)?.imgUrl" alt="Game banner poster" class="game-poster">
    <mat-card-actions>
      <div class="action-buttons-container">
        <button mat-stroked-button (click)="addToPlayingOnClick()" color="warn">PLAY</button>
        <button mat-stroked-button (click)="addToFinishedOnClick()" color="warn">FINISH</button>
        <button mat-stroked-button (click)="addToBacklogOnClick()" color="warn">BACKLOG</button>
      </div>
      <div class="review-button-container">
        <button mat-raised-button (click)="reviewOnClick()" class="review-button" color="accent">REVIEW</button>
      </div>
    </mat-card-actions>
  </mat-card>
  <div class="gameHeaderRight">
    <div>{{(this.game | async)?.description}}</div>
    <div class="view-buttons-container">
      <a [attr.href]="steamLink == '' ? null : steamLink" [attr.tabindex]="steamLink == '' ? -1 : 0"  target="_blank">
        <button mat-raised-button color="accent" class="steam-button" (click)="clicked=true">
          <div class="steam-button-label">
            <img src="./assets/steam-icon.svg" alt="steam-icon" class="steam-icon"/>
            <div style="margin-left: 0.5em;">View on Steam</div>
          </div>
        </button>
      </a>
      <br>
      <p *ngIf="steamLink=='' && clicked">Game is not avilable on steam</p>
    </div>
  </div>
</div>

<div *ngIf="showReview" class="post-review-container">
    <form class = "post-review-form" [formGroup]="reviewForm" (ngSubmit)="onReview()">
      <mat-form-field  appearance="outline" color="accent" class="review-form-field-rating">
          <mat-label class="review-form-label">Your rating</mat-label>
          <input matInput type="number" formControlName="reviewScore" value=0 min=1 max=10 placeholder="1-10">
      </mat-form-field> 
      <mat-form-field  appearance="outline" color="accent" class="review-form-field-text">
          <mat-label class="review-form-label">Review Text</mat-label>
          <textarea matInput cdkTextareaAutosize formControlName="reviewText"></textarea>
      </mat-form-field>
      <button mat-flat-button color="warn" type="submit" class="review-form-button">Post</button>
    </form>
</div>

<!--<mat-grid-list cols="1" rowHeight="15:1" gutterSize="5px" class="profileFeed">
  <mat-grid-tile *ngFor="let review of reviews | async">
      <mat-card>
          <mat-card-content>
              <img src="assets/profile-default.png" class="postProfilePicture">
              <span class="postDescription">Username: {{review}}</span>
          </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->

<div class="reviews-container">
  <mat-list class="review-list">
    <mat-list-item *ngFor="let review of reviews | async" class="review-item">
      <app-post [post]="review"></app-post>
    </mat-list-item> 
  </mat-list>
</div>

