:host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 8em;
}

.gameHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gameHeaderLeft {
    min-width: 40%;
}

.gameHeaderRight {
    max-width: 50%;
    text-align: left;
    font-size: 1.25em;
    font-family: 'Roboto';
    line-height: 1.75em;
}

.game-poster {
    height: 40rem;
}

.mat-mdc-card-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2em;
}

.header-title{
}

.mat-mdc-card-title{
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.header-subtitle{
    margin-left: auto;
}

.mat-mdc-card-subtitle{
    text-align: center;
    display: flex;
    padding: 0;
    font-size: 1.25em;
    justify-content: space-around;
    align-items: center;
}

.mdc-card__actions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding: 1em;
}

.action-buttons-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.action-buttons-container button{
    width: 30%;
    font-weight: bold;
}

.review-button-container{
    width: 100%;
    margin-top: 1em;
}

.review-button{
    width: 100%;
    font-weight: bold;
}

.view-buttons-container{
    margin-top: 1em;
    text-align: center;
}

.steam-button-label{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.steam-icon{
    width: 1.5em;
    height: 1.5em;
}

.reviews-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.review-list{
    margin-top: 2em;
}

.mdc-list-item{
    padding: 0;
    margin-bottom: 1.5em;
    height: auto;
}

.mdc-list-item.mdc-list-item--with-one-line{
    height: auto;
}

.post-review-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 2em;
    width: 100%;
    background-color: #424242;
    border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px));
}

.post-review-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 95%;
    padding: 1em;
}

.review-form-field-rating{
    width: 20%;
}

.review-form-label{
    font-size: 1em;
}

.review-form-button{
    width: 8em;
}