<div class="ui hidden divider"></div>
<div class="ui container">
        <!--Sarch bar-->
        <div class="ui centered grid">
            <div class="two wide column img">
                <a href="http://localhost:4200/" class="ui medium image">
                    <img class="ui image" src="assets/PlayrateLogo.png" alt="Logo">
                </a>
            </div>
            <div class="ten wide column">   
                <div class="ui fluid action input">
                    <input type="text" placeholder="What game are you looking for?">
                    <div class="ui button">Search</div>
                </div>        
            </div>
        </div>
        
        <div class="ui grid">
            <!-- Game card on the left -->
            <div class="five wide column">   
                <div class="ui fluid card">
                    <div class="img">
                        <img class="ui fluid image" [src]="this.game.bannerPosterUrl" alt="Game banner poster">
                    </div>
                    <div class="content">
                        <p class="header">{{this.game.gameName}}</p>
                        <div class="description">
                            <div class="ui buttons">
                                <button class="ui primary button">Add to favorits</button>  
                                <div class="ui labeled button" tabindex="0" (click)="onLikeButton()">
                                    <div class="ui red button">
                                    <i class="heart icon"></i> Like
                                    </div>
                                    <a class="ui basic red left pointing label">
                                    {{this.game.likes}}
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
            
            <!-- Description -->
            <div class="nine wide column">
                <form class="ui form">
                    <label class="ui top attached label"><h4>Description</h4></label>
                    <textarea readonly>{{this.game.gameDescription}}</textarea>
                </form>
                <div class="ui statistics">
                    <div class="statistic">
                      <div class="value">
                        <img src="assets/faves.png" class="ui circular inline image">
                        {{this.game.favoritsNumber}}
                      </div>
                      <div class="label">
                        Faves
                      </div>
                    </div>
                    <div class="statistic">
                      <div class="value">
                        <img src="assets/seen.png" class="ui circular inline image">
                        {{this.game.visitedNumber}}
                      </div>
                      <div class="label">
                        Visited
                      </div>
                    </div>
                    <div class="statistic">
                      <div class="value">
                        <img src="assets/play.png" class="ui circular inline image">
                        {{this.game.playersNumber}}
                      </div>
                      <div class="label">
                        Playing
                      </div>
                    </div>
                  </div>
            </div>  
        </div>
        <!-- Reviews -->
        <div class="ui centered grid" style="height:200px;overflow:scroll">
            <div class="twelve wide column">
                <div class="ui comments">
                    <h2 class="ui dividing center aligned header">Reviews</h2>
                    <div class="comment" *ngFor="let review of reviews">
                        <a class="avatar">
                          <img src="/assets/person.jpg">
                        </a>
                        <div class="content">
                          <a class="author">Matt</a>
                          <div class="text">
                            {{review}}
                          </div>    
                        </div>
                      </div>
                </div>     
            </div>
        </div>
        
</div>