
<mat-card>
    <mat-card-title>Account</mat-card-title>
    <mat-card-content>
        <form [formGroup]="signForm" (ngSubmit)="onSignUpSubmit()">

            <p *ngIf="!displayLogin">
                <mat-form-field  appearance="outline" color="accent" [hideRequiredMarker]=true>
                    <mat-label>Username</mat-label>
                    <input type="text" matInput placeholder="Username*" formControlName="username">
                </mat-form-field>
            </p>

            <div *ngIf="usernameHasErrors() && !displayLogin">
                <ul>
                    <li *ngFor = "let errorMessage of usernameErrors()">{{ errorMessage }}</li>
                </ul>
            </div>

            <p>
                <mat-form-field  appearance="outline" color="accent" [hideRequiredMarker]=true>
                    <mat-label>E-mail address</mat-label>
                    <input type="text" matInput placeholder="E-mail address*" formControlName="email">
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
            </p>

            <div *ngIf="emailHasErrors() && !displayLogin">
                <ul>
                    <li *ngFor = "let errorMessage of emailErrors()">{{ errorMessage }}</li>
                </ul>
            </div>

            <p>
                <mat-form-field  appearance="outline" color="accent" [hideRequiredMarker]=true>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password*" formControlName="password">
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </p>

            <div class = "ui pointing red basic label" *ngIf="passwordHasErrors() && !displayLogin ">
                <ul>
                    <li *ngFor = "let errorMessage of passwordErrors()">{{ errorMessage }}</li>
                </ul>
            </div>

            <div class = "ui negative message" *ngIf="displayLogin && failedLogin">
                <p>Login has failed!</p>
            </div>

            <div class="button">
                <button *ngIf="displayLogin"  type="submit" mat-stroked-button>Sign In</button>
                <button *ngIf="!displayLogin" type="submit" mat-stroked-button>Sign Up</button>
            </div>

            <div class = "message" *ngIf="displayLogin">
                First time here?  
                <a (click)="onLogIn()">Sign Up!</a>
            </div>
    
            <div class = "message" *ngIf="!displayLogin">
                Already have an account?  
                <a (click)="onSignUp()">Sign In!</a>
            </div>

        </form>
    </mat-card-content>
</mat-card>