<div class = "ui middle aligned center aligned grid">
    <div class = "three wide column">
        <form class = "ui large form" [formGroup]="signForm" (ngSubmit)="onSignUpSubmit()">
            
            <!------------------------------------>
            <div class="ui orange stacked segment" *ngIf="!displayLogin" [ngClass]="{error: usernameHasErrors}">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" formControlName="username" placeholder="Username">
                    </div>
                </div>

                <div class = "ui pointing red basic label" *ngIf="usernameHasErrors()">
                    <ul>
                        <li *ngFor = "let errorMessage of usernameErrors()">{{ errorMessage }}</li>
                    </ul>
                </div>
            </div>
             <!------------------------------------>

            <div class="ui orange stacked segment" [ngClass]="{error: emailHasErrors}">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="envelope icon"></i>
                        <input type="text" formControlName="email" placeholder="E-mail adress">
                    </div>
                </div>

                <div class = "ui pointing red basic label" *ngIf="emailHasErrors() && !displayLogin ">
                    <ul>
                        <li *ngFor = "let errorMessage of emailErrors()">{{ errorMessage }}</li>
                    </ul>
                </div>
            </div>
            <!------------------------------------>


            <div class="ui orange stacked segment" [ngClass]="{error: passwordHasErrors}">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" formControlName="password" placeholder="Password">
                    </div>
                </div>

                <div class = "ui pointing red basic label" *ngIf="passwordHasErrors() && !displayLogin ">
                    <ul>
                        <li *ngFor = "let errorMessage of passwordErrors()">{{ errorMessage }}</li>
                    </ul>
                </div>
            </div>

            <button class="ui fluid large orange submit button" *ngIf="displayLogin"  type="submit">Sign In</button>
            <button class="ui fluid large orange submit button" *ngIf="!displayLogin" type="submit">Sign Up</button>
            
            <div clas="ui error message"></div>
        </form>
       
        <div class = "ui negative message" *ngIf="displayLogin && failedLogin">
            <p>Login has failed!</p>
        </div>


        <div class = "ui message" *ngIf="displayLogin">
            First time here?  
            <a class="ui basic orange label" (click)="onLogIn()">Sign Up!</a>
        </div>

        <div class = "ui message" *ngIf="!displayLogin">
            Already have an account?  
            <a class="ui basic orange label" (click)="onSignUp()">Sign In!</a>
        </div>

    </div>
</div>
