<mat-toolbar>
    <div>
        <a href="/homepage">
            <img src ='assets/logo.png' class="logo">
            <span class="title">{{title}}</span>
        </a>
    </div>
    <div>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Search</mat-label>
            <input matInput type="text" [(ngModel)]="searchTerm" (ngModelChange)="search()" placeholder="What game are you looking for?"
                   (keyup.escape)="onEscape()" (blur)="onBlur()" (focus)="isExpanded = true">
            <ul [@expand]="isExpanded ? 'expanded' : 'collapsed'" fxFlex="0 0 auto">
                <li *ngFor="let item of results">{{ item.name }}</li>
            </ul>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div>
        <a mat-raised-button color="warn" [routerLink]="['/profilepage',username]" >Profile</a>
        <a mat-raised-button color="warn" *ngIf="this.isLoggedIn()" (click) = "logoutUser()"  > Sign out</a>
    </div>
</mat-toolbar>
