
<mat-grid-list cols="3" rowHeight="3:1" class="profileHeader">
    <mat-grid-tile rowspan="3">
        <div *ngIf="this.getUsername() === currentUserUsername">
        <button *ngIf="this.getUsername() === currentUserUsername" mat-icon-button color="accent" (click)="showChangeURLForm()">
            <mat-icon class="review-action-button-icon">edit</mat-icon>
        </button>
        <form [formGroup]="changeURLForm" (ngSubmit)="changeImgUrl()">
            <div *ngIf="changeURLFormShown">
                <mat-form-field  appearance="outline" color="accent">
                    <mat-label>Image URL</mat-label>
                    <input matInput type="text" formControlName="imgURLToSet" placeholder="https://img.url">
                </mat-form-field> 
                <button mat-flat-button color="warn" type="submit">SET</button>
            </div>
        </form>
        </div>
        <div>
            <img src="{{imgUrl}}" class="profilePicture">
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div class="playerInfo">
            <span class="username">{{getUsername()}}</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="listHolder">
            <button class="listButton" mat-raised-button color="accent" (click)="showFinished()">Finished</button>
            <span>{{finishedCount()}}</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="listHolder">
            <button class="listButton" mat-raised-button color="accent" (click)="showPlaying()">Playing</button>
            <span>{{playingCount()}}</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="listHolder">
            <button class="listButton" mat-raised-button color="accent" (click)="showBacklog()">Backlog</button>
            <span>{{backlogCount()}}</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="listHolder">
            <button class="listButton" mat-raised-button color="accent" (click)="showReviewed()">Reviews</button>
            <span>{{reviewCount()}}</span>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<div *ngIf="showPopup">
    <mat-card>
        <mat-list>
            <mat-list-item *ngFor="let game of gamesToShow">
                <mat-card color="warn">
                    <mat-card-header class="header">{{game.name}}</mat-card-header>
                </mat-card>
            </mat-list-item> 
        </mat-list>
    </mat-card>
</div>

<h2 class="activity-header">Recent Activity</h2>
<mat-list>
    <mat-list-item *ngFor="let post of posts">
        <app-post [post]="post" ></app-post>
    </mat-list-item> 
</mat-list>