
<mat-grid-list cols="3" rowHeight="3:1" class="profileHeader">
    <mat-grid-tile rowspan="3">
        <img src="assets/profile-default.png" class="profilePicture">
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div class="playerInfo">
            <span class="username">{{getUsername()}}</span>
            <span class="status">Online</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="listHolder">
            <button class="listButton" mat-raised-button color="accent" (click)="showFinished()">Finished</button>
            <span>{{finishedCount()}}</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="listHolder">
            <button class="listButton" mat-raised-button color="accent" (click)="showPlaying()">Playing</button>
            <span>{{playingCount()}}</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="listHolder">
            <button class="listButton" mat-raised-button color="accent" (click)="showBacklog()">Backlog</button>
            <span>{{backlogCount()}}</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="listHolder">
            <button class="listButton" mat-raised-button color="accent" (click)="showReviewed()">Reviews</button>
            <span>{{reviewCount()}}</span>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<div *ngIf="showPopup">
    <mat-card>
        <mat-list>
            <mat-list-item *ngFor="let game of gamesToShow">
                <mat-card color="warn">
                    <mat-card-header class="header">{{game.name}}</mat-card-header>
                </mat-card>
            </mat-list-item> 
        </mat-list>
    </mat-card>
</div>

<h2 class="activity-header">Recent Activity</h2>
<mat-list>
    <mat-list-item *ngFor="let post of posts">
        <app-post [post]="post" ></app-post>
    </mat-list-item> 
</mat-list>