<div class = "ui grid left aligned">
    <div class="column"></div>
<div class="ui form ">
    <div class="field">
        <label>Game</label>
        <select>
          <option value="0">Game1</option>
          <option value="1">Game 2</option>
        </select>
    </div>


    <div class="field">
        <label>Post type</label>
            <select>
              <option value="0">Review</option>
              <option value="1">Playing</option>
              <option value="2">Finished</option>
              <option value="3">Backlog</option>
            </select>
    </div>

    <div class="field">
        <label>Your rating 1-10</label>
        <input type="text">
    </div>

    <div class="field">
        <label>Review Text</label>
        <textarea></textarea>
      </div>

      <button class="ui fluid large orange submit button" type="submit">Submit</button>
    </div>
  </div>