<div class = "ui grid left aligned">
  <div class="column"></div>
  <form class = "ui large form" [formGroup]="createPostForm" (ngSubmit)="onCreatePostFormSubmit()">
    <div class="field">
      <label>Choose Game</label>
    <select class="ui search dropdown" formControlName = "game">
      <option *ngFor = "let game of games | async" value={{game}}>{{game.name}}</option>
    </select>
  </div>
<div class="field">
  <label>Choose Post Type</label>
<select class="ui dropdown" formControlName="type" (change)="onSelectedType($event)">
  <option value="review">Review</option>
  <option value="playing">Playing</option>
  <option value="finished">Finished</option>
  <option value="backlog">Backlog</option>
</select>
</div>
  
  <div class="field" *ngIf="review">
      <label>Your rating 1-10</label>
      <input type="text" formControlName="reviewScore">
  </div>

  <div class="field" *ngIf="review">
      <label>Review Text</label>
      <textarea formControlName="reviewText"></textarea>
    </div>

    <a href="http://localhost:4200" alt="Home page">
      <button class="ui fluid large orange submit button" type="submit" >Submit</button>
    </a>
   
</form>