.header{
    justify-content: flex-start;
}

.main-container{
    display: flex;
}

.review-actions{
    margin-left: auto;
}

.review-action-button {
    width: 1.5em !important;
    height: 1.5em !important;
    padding: 0px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
 
    & > *[role=img] {
       width: 1em;
       height: 1em;
       font-size: 1em;
 
       svg {
          width: 1em;
          height: 1em;
       }
    }
 
    .mat-mdc-button-touch-target {
       width: 1.5em !important;
       height: 1.5em !important;
    }
 }

.review-action-button-icon{
}

.header-content{
    margin-top: 0.5em;
    margin-left: 1em;
}

.date-posted{
    font-size: 0.75em;
}

.special-text-user{
    font-size: 1em;
    font-weight: 500;
    color: #ff670d;
    text-transform: none;
    text-decoration: none;
}

.special-text-game{
    font-size: 1em;
    font-style: italic;
    color: #ff670d;
    text-transform: none;
    text-decoration: none;
}

.mat-mdc-card-content{
    margin-top: 1em;
    justify-content: space-between;
    align-items: center;
}

.review-text{
    white-space: normal;
}

.review-textarea-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.review-textarea{
    width: 100%;
    padding: 1em 0em 1em 0.5em;
    font-family: 'Roboto';
    font-size: 1em;
    background-color: #909596;
}

.save-button{
    width: 10em;
    margin-top: 2em;
}

.review-star{
    padding: 0;
    margin: 0;
}

.review-score-div{
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.review-score{
    margin-left: 0.5em;
}